@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    font-family: 'Rubik', sans-serif;
    transition: all 0.4s ease-in-out;

}

body{
    background: rgb(241, 255, 253);
}